.passenger-click {
    border-radius: 2px;
    border: 1px solid var(--Primary-DarkBlue-04, #0D28A6);
    background: var(--Primary-DarkBlue-01, #CFD4ED);

    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--Primary-DarkBlue-02, #AEB7E1);
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */

}

.passenger-click:hover {
    color: var(--Primary-DarkBlue-04, #0D28A6);
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
