.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    margin-left: 100px;
    background-color: white;
    box-shadow: 10px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;

}

#text-admin {
    padding: 9px 0px;
    margin-right: 20px;
}

.logo-navbar{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    background-color: #CFD4ED;

}

.btn-search {
    background-color: #ffffff;
    color: #0D28A6;
    border: solid 1px #0D28A6;
    padding: 5px 12px 5px 12px;
    border-radius: 6px;
    margin: 2px 4px 0px 0px;
}