.side-dashboard {
    display: grid;
    justify-content: end;
    padding: 10px 20px 500px;
    margin-left: 100px;
    background-color: white;
    position: fixed;
    font-family: Arial;    
}

.side-dashboard p {
    color: gray;
}

.side-dashboard a {
    color: black;
}